<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reto_4</title>

    <link rel="stylesheet" href="../static/css/milligram.css">
    <link rel="stylesheet" href="../static/css/milligram.min.css">
    <style>
        body{
            width: max-content;
            height: max-content;
            background-image: url(https://images6.alphacoders.com/481/481285.jpg);
        }

    </style>

</head>
<body class="button-clear">
    <section class="container">
        <article class="row">
            <div class="feriado_puente">
                <h5>Feriado Puente</h5>
            </div>
            <div class="Feriado_inamovible">
                <h5>Feriado Inamovible</h5>
            </div>
            <div class="Feriado_trasladable">
                <h5>Feriado Trasladable</h5>
            </div>
            <div class="año_pasado">
                <h5>2022</h5>
            </div>
            <div class="año_presente">
                <h5>2023</h5>
            </div>
            <div class="año_siguiente">
                <h5>2024</h5>
            </div>

        </article>
        <article class="tablas_grillas">
            <table>
                <tr>
                    <th>Enero</th>
                    
                </tr>
                <tr>
                    <tr class="row">
                        <th class=".row .column.column-10"> L</th>
                        <th class=".row .column.column-10"> M</th>
                        <th class=".row .column.column-10"> M</th>
                        <th class=".row .column.column-10"> J</th>
                        <th class=".row .column.column-10"> V</th>
                        <th class=".row .column.column-10"> S</th>
                        <th class=".row .column.column-10"> D</th>
                    </tr>
                    <tr class="row">
                        <td class=".row .column.column-10"> </td>
                        <td class=".row .column.column-10"> </td>
                        <td class=".row .column.column-10"> </td>
                        <td class=".row .column.column-10"> </td>
                        <td class=".row .column.column-10"> </td>
                        <td class=".row .column.column-10"> </td>
                        <td class=".row .column.column-10"><a class="a_Feriado_inamovible"href="">1</a></td>
                    </tr>
                    <tr class="row">
                        <td class=".row .column.column-10"> 2</td>
                        <td class=".row .column.column-10"> 3</td>
                        <td class=".row .column.column-10"> 4</td>
                        <td class=".row .column.column-10"> 5</td>               
                        <td class=".row .column.column-10"> 6</td>
                        <td class=".row .column.column-10"> 7</td>
                        <td class=".row .column.column-10"> 8</td>
                    </tr>
                    <tr class="row">
                        
                        <td class=".row .column.column-10"> 9</td>
                        <td class=".row .column.column-10"> 10</td>
                        <td class=".row .column.column-10"> 11</td>
                        <td class=".row .column.column-10"> 12</td>
                        <td class=".row .column.column-10"> 13</td>
                        <td class=".row .column.column-10"> 14</td>
                        <td class=".row .column.column-10"> 15</td>
                    </tr>
                    <tr class="row">
                
                        
                        <td class=".row .column.column-10"> 16</td>
                        <td class=".row .column.column-10"> 17</td>
                        <td class=".row .column.column-10"> 18</td>
                        <td class=".row .column.column-10"> 19</td>
                        <td class=".row .column.column-10"> 20</td>
                        <td class=".row .column.column-10"> 21</td>
                        <td class=".row .column.column-10"> 22</td>
                    </tr>
                    <tr class="row">
                        
                        <td class=".row .column.column-10"> 23</td>
                        <td class=".row .column.column-10"> 24</td>
                        <td class=".row .column.column-10"> 25</td>
                        <td class=".row .column.column-10"> 26</td>
                        <td class=".row .column.column-10"> 27</td>
                        <td class=".row .column.column-10"> 28</td>
                        <td class=".row .column.column-10"> 29</td>
                    </tr>
                    <tr class="row">
                        
                        <td class=".row .column.column-10"> 30</td>
                        <td class=".row .column.column-10"> 31</td>
                        <td class=".row .column.column-10"></td>
                        <td class=".row .column.column-10"></td>
                        <td class=".row .column.column-10"></td>
                        <td class=".row .column.column-10"></td>
                        <td class=".row .column.column-10"></td>
                        
                    </tr>
                    <tr class="row">
                        <td class=".row .column.column-75"><a class="button" href="">Calendario_Lunar</a></td>
                        <td class=".row .column.column-75"></td>
                        <td class=".row .column.column-75"></td>
                        <td class=".row .column.column-75"></td>
                        <td class=".row .column.column-75"></td>
                        <td class=".row .column.column-75"></td>
                    
                    </tr>
                </tr>
            </table>
            <table>
                <tr>
                    <th>Febrero</th>
                </tr> 
                <tr>
                    <tr class="row">
                        <th class=".row .column.column-10"> L</th>
                        <th class=".row .column.column-10"> M</th>
                        <th class=".row .column.column-10"> M</th>
                        <th class=".row .column.column-10"> J</th>
                        <th class=".row .column.column-10"> V</th>
                        <th class=".row .column.column-10"> S</th>
                        <th class=".row .column.column-10"> D</th>
                    </tr>
                    <tr class="row">
                        <td class=".row .column.column-10"> </td>
                        <td class=".row .column.column-10"> </td>
                        <td class=".row .column.column-10">1</td>
                        <td class=".row .column.column-10">2</td>
                        <td class=".row .column.column-10">3</td>
                        <td class=".row .column.column-10">4</td>
                        <td class=".row .column.column-10">5</td>
                    </tr>
                    <tr class="row">
                        <td class=".row .column.column-10"> 6</td>
                        <td class=".row .column.column-10"> 7</td>
                        <td class=".row .column.column-10"> 8</td>
                        <td class=".row .column.column-10"> 9</td>
                        <td class=".row .column.column-10"> 10</td>
                        <td class=".row .column.column-10"> 11</td>
                        <td class=".row .column.column-10"> 12</td>
                    </tr>
                    <tr class="row">
                    
                        <td class=".row .column.column-10"> 13</td>
                        <td class=".row .column.column-10"> 14</td>
                        <td class=".row .column.column-10"> 15</td>
                        <td class=".row .column.column-10"> 16</td>
                        <td class=".row .column.column-10"> 17</td>
                        <td class=".row .column.column-10"> 18</td>
                        <td class=".row .column.column-10"> 19</td>
                    </tr>
                    <tr class="row">
                    
                        <td class=".row .column.column-10"> <a class="a_Feriado_inamovible"href="">20</a></td>
                        <td class=".row .column.column-10"> <a class="a_Feriado_inamovible"href="">21</a></td>
                        <td class=".row .column.column-10"> 22</td>
                        <td class=".row .column.column-10"> 23</td>
                        <td class=".row .column.column-10"> 24</td>
                        <td class=".row .column.column-10"> 25</td>
                        <td class=".row .column.column-10"> 26</td>
                    </tr>
                    <tr class="row">
                    
                        <td class=".row .column.column-10"> 27</td>
                        <td class=".row .column.column-10"> 28</td>
                        <td class=".row .column.column-10"> </td>
                        <td class=".row .column.column-10"> </td>
                        <td class=".row .column.column-10"> </td>
                        <td class=".row .column.column-10"> </td>
                        <td class=".row .column.column-10"> </td>
                    </tr>
                    <tr class="row">
                    
                        <td class=".row .column.column-75"></td>
                    </tr>
                    <tr class="row">
                    
                        <td class=".row .column.column-75"></td>
                    </tr>

                    <tr class="row">
                        <td class=".row .column.column-75"><a class="button" href="">Calendario_Lunar</a></td>
                        <td class=".row .column.column-75"></td>
                        <td class=".row .column.column-75"></td>
                        <td class=".row .column.column-75"></td>
                        <td class=".row .column.column-75"></td>
                        <td class=".row .column.column-75"></td>
                        
                    </tr>
                    
                </tr>
            </table>
            <table>
                <tr>
                    <th>Marzo</th>
                </tr>
                <tr>
                    <tr class="row">
                        <th class=".row .column.column-10"> L</th>
                        <th class=".row .column.column-10"> M</th>
                        <th class=".row .column.column-10"> M</th>
                        <th class=".row .column.column-10"> J</th>
                        <th class=".row .column.column-10"> V</th>
                        <th class=".row .column.column-10"> S</th>
                        <th class=".row .column.column-10"> D</th>
                    </tr>
                    <tr class="row">
                        <td class=".row .column.column-10"> </td>
                        <td class=".row .column.column-10"> </td>
                        <td class=".row .column.column-10">1</td>
                        <td class=".row .column.column-10">2</td>
                        <td class=".row .column.column-10">3</td>
                        <td class=".row .column.column-10">4</td>
                        <td class=".row .column.column-10">5</td>
                    </tr>
                    <tr class="row">
                        <td class=".row .column.column-10"> 6</td>
                        <td class=".row .column.column-10"> 7</td>
                        <td class=".row .column.column-10"> 8</td>
                        <td class=".row .column.column-10"> 9</td>
                        <td class=".row .column.column-10"> 10</td>
                        <td class=".row .column.column-10"> 11</td>
                        <td class=".row .column.column-10"> 12</td>
                    </tr>
                    <tr class="row">
                    
                        <td class=".row .column.column-10"> 13</td>
                        <td class=".row .column.column-10"> 14</td>
                        <td class=".row .column.column-10"> 15</td>
                        <td class=".row .column.column-10"> 16</td>
                        <td class=".row .column.column-10"> 17</td>
                        <td class=".row .column.column-10"> 18</td>
                        <td class=".row .column.column-10"> 19</td>
                    </tr>
                    <tr class="row">
                    
                        <td class=".row .column.column-10"> 20</td>
                        <td class=".row .column.column-10"> 21</td>
                        <td class=".row .column.column-10"> 22</td>
                        <td class=".row .column.column-10"> 23</td>
                        <td class=".row .column.column-10"> <a class="a_Feriado_inamovible"href="">24</a></td>
                        <td class=".row .column.column-10"> 25</td>
                        <td class=".row .column.column-10"> 26</td>
                    </tr>
                    <tr class="row">
                    
                        <td class=".row .column.column-10">27</td>
                        <td class=".row .column.column-10">28</td>
                        <td class=".row .column.column-10">29</td>
                        <td class=".row .column.column-10">30</td>
                        <td class=".row .column.column-10">31</td>
                        <td class=".row .column.column-10"> </td>
                        <td class=".row .column.column-10"> </td>
                    </tr>
                    <tr class="row">
                    
                        <td class=".row .column.column-75"></td>
                    </tr>
                    <tr class="row">
                    
                        <td class=".row .column.column-75"></td>
                    </tr>
                    
                    <tr class="row">
                        <td class=".row .column.column-75"><a class="button" href="">Calendario_Lunar</a></td>
                        <td class=".row .column.column-75"></td>
                        <td class=".row .column.column-75"></td>
                        <td class=".row .column.column-75"></td>
                        <td class=".row .column.column-75"></td>
                        <td class=".row .column.column-75"></td>
                    
                    </tr>
                    
                </tr>
            </table>
            
        </article>
        <article class="tablas_grillas">
            <table>
                <tr>
                    <th>Abril</th>
                </tr>
                <tr>
                    <tr class="row">
                        <th class=".row .column.column-10"> L</th>
                        <th class=".row .column.column-10"> M</th>
                        <th class=".row .column.column-10"> M</th>
                        <th class=".row .column.column-10"> J</th>
                        <th class=".row .column.column-10"> V</th>
                        <th class=".row .column.column-10"> S</th>
                        <th class=".row .column.column-10"> D</th>
                    </tr>
                    <tr class="row">
                        <td class=".row .column.column-10"> </td>
                        <td class=".row .column.column-10"> </td>
                        <td class=".row .column.column-10"> </td>
                        <td class=".row .column.column-10"> </td>
                        <td class=".row .column.column-10"> </td>
                        <td class=".row .column.column-10">1 </td>
                        <td class=".row .column.column-10"><a class="a_Feriado_inamovible"href="">2</a></td>
                    </tr>
                    <tr class="row">
                        <td class=".row .column.column-10"> 3</td>
                        <td class=".row .column.column-10"> 4</td>
                        <td class=".row .column.column-10"> 5</td>
                        <td class=".row .column.column-10"> 6</td>
                        <td class=".row .column.column-10"> <a class="a_Feriado_inamovible"href="">7</a></td>
                        <td class=".row .column.column-10"> 8</td>
                        <td class=".row .column.column-10"> 9</td>
                    </tr>
                    <tr class="row">                
                        <td class=".row .column.column-10"> 10</td>
                        <td class=".row .column.column-10"> 11</td>
                        <td class=".row .column.column-10"> 12</td>
                        <td class=".row .column.column-10"> 13</td>
                        <td class=".row .column.column-10"> 14</td>
                        <td class=".row .column.column-10"> 15</td>
                        <td class=".row .column.column-10"> 16</td>
                    </tr>
                    <tr class="row">              
                                           
                        <td class=".row .column.column-10"> 17</td>
                        <td class=".row .column.column-10"> 18</td>
                        <td class=".row .column.column-10"> 19</td>
                        <td class=".row .column.column-10"> 20</td>
                        <td class=".row .column.column-10"> 21</td>
                        <td class=".row .column.column-10"> 22</td>
                        <td class=".row .column.column-10"> 23</td>
                    </tr>
                    <tr class="row">                                            
                        <td class=".row .column.column-10"> 24</td>
                        <td class=".row .column.column-10"> 25</td>
                        <td class=".row .column.column-10"> 26</td>
                        <td class=".row .column.column-10"> 27</td>
                        <td class=".row .column.column-10"> 28</td>
                        <td class=".row .column.column-10"> 29</td>
                        <td class=".row .column.column-10"> 30</td>
                    </tr>
                    <tr class="row">
                        <td class=".row .column.column-75"><a class="button" href="">Calendario_Lunar</a></td>
                        <td class=".row .column.column-75"></td>
                        <td class=".row .column.column-75"></td>
                        <td class=".row .column.column-75"></td>
                        <td class=".row .column.column-75"></td>
                        <td class=".row .column.column-75"></td>
                    
                    </tr>
                    
                </tr>
            </table>
            <table>
                <tr>
                    <th>Mayo</th>
                </tr>
                <tr>
                    <tr class="row">
                        <th class=".row .column.column-10"> L</th>
                        <th class=".row .column.column-10"> M</th>
                        <th class=".row .column.column-10"> M</th>
                        <th class=".row .column.column-10"> J</th>
                        <th class=".row .column.column-10"> V</th>
                        <th class=".row .column.column-10"> S</th>
                        <th class=".row .column.column-10"> D</th>
                    </tr>
                    
                    <tr class="row">
                        <td class=".row .column.column-10"><a class="a_Feriado_inamovible"href="">1</a></td>
                        <td class=".row .column.column-10"> 2</td>
                        <td class=".row .column.column-10"> 3</td>
                        <td class=".row .column.column-10"> 4</td>
                        <td class=".row .column.column-10"> 5</td>
                        <td class=".row .column.column-10"> 6</td>
                        <td class=".row .column.column-10"> 7</td>
                        
                    </tr>
                    <tr class="row">
                        <td class=".row .column.column-10"> 8</td>
                        <td class=".row .column.column-10"> 9</td>
                        <td class=".row .column.column-10"> 10</td>
                        <td class=".row .column.column-10"> 11</td>
                        <td class=".row .column.column-10"> 12</td>
                        <td class=".row .column.column-10"> 13</td>
                        <td class=".row .column.column-10"> 14</td>
                        
                    </tr>
                    <tr class="row">
                    
                        <td class=".row .column.column-10"> 15</td>
                        <td class=".row .column.column-10"> 16</td>
                        <td class=".row .column.column-10"> 17</td>
                        <td class=".row .column.column-10"> 18</td>
                        <td class=".row .column.column-10"> 19</td>
                        <td class=".row .column.column-10"> 20</td>
                        <td class=".row .column.column-10"> 21</td>
                        
                    </tr>
                    <tr class="row">
                        <td class=".row .column.column-10"> 22</td>
                        <td class=".row .column.column-10"> 23</td>
                        <td class=".row .column.column-10"> 24</td>
                        <td class=".row .column.column-10"><a class="a_Feriado_inamovible"href="">25</a></td>
                        <td class=".row .column.column-10"> <a class="a_feriado_puente"href="">26</a></td>
                        <td class=".row .column.column-10"> 27</td>
                        <td class=".row .column.column-10"> 28</td>
                        
                    </tr>
                    <tr class="row">
                        <td class=".row .column.column-10"> 29</td>
                        <td class=".row .column.column-10"> 30</td>
                        <td class=".row .column.column-10"> 31</td>
                        <td class=".row .column.column-10"></td>
                        <td class=".row .column.column-10"></td>
                        <td class=".row .column.column-10"></td>
                        <td class=".row .column.column-10"></td>
                                           
                    </tr>
                    <tr class="row">
                        <td class=".row .column.column-75"><a class="button" href="">Calendario_Lunar</a></td>
                        <td class=".row .column.column-75"></td>
                        <td class=".row .column.column-75"></td>
                        <td class=".row .column.column-75"></td>
                        <td class=".row .column.column-75"></td>
                        <td class=".row .column.column-75"></td>
                    
                    </tr>
                </tr>
            </table>
            <table>
                <tr>
                    <th>Junio</th>
                </tr>
                <tr>
                    <tr class="row">
                        <th class=".row .column.column-10"> L</th>
                        <th class=".row .column.column-10"> M</th>
                        <th class=".row .column.column-10"> M</th>
                        <th class=".row .column.column-10"> J</th>
                        <th class=".row .column.column-10"> V</th>
                        <th class=".row .column.column-10"> S</th>
                        <th class=".row .column.column-10"> D</th>
                    </tr>
                    <tr class="row">
                        <td class=".row .column.column-10"> </td>
                        <td class=".row .column.column-10"> </td>
                        <td class=".row .column.column-10"> </td>
                        <td class=".row .column.column-10">1</td>
                        <td class=".row .column.column-10">2</td>
                        <td class=".row .column.column-10">3</td>
                        <td class=".row .column.column-10">4</td>
                    </tr>
                    <tr class="row">
                        <td class=".row .column.column-10"> 5</td>
                        <td class=".row .column.column-10"> 6</td>
                        <td class=".row .column.column-10"> 7</td>
                        <td class=".row .column.column-10"> 8</td>
                        <td class=".row .column.column-10"> 9</td>
                        <td class=".row .column.column-10"> 10</td>
                        <td class=".row .column.column-10"> 11</td>
                    </tr>
                    <tr class="row">
                    
                        <td class=".row .column.column-10"> 12</td>
                        <td class=".row .column.column-10"> 13</td>
                        <td class=".row .column.column-10"> 14</td>
                        <td class=".row .column.column-10"> 15</td>
                        <td class=".row .column.column-10"> 16</td>
                        <td class=".row .column.column-10"> <a class="a_Feriado_trasladable" href="">17</a></td>
                        <td class=".row .column.column-10"> 18</td>
                    </tr>
                    <tr class="row">                   
                    
                        <td class=".row .column.column-10"> <a class="a_feriado_puente"href="">19</a></td>
                        <td class=".row .column.column-10"> <a class="a_Feriado_inamovible"href="">20</a></td>
                        <td class=".row .column.column-10"> 21</td>
                        <td class=".row .column.column-10"> 22</td>
                        <td class=".row .column.column-10"> 23</td>
                        <td class=".row .column.column-10"> 24</td>
                        <td class=".row .column.column-10"> 25</td>
                    </tr>
                    <tr class="row">
                    
                        <td class=".row .column.column-10"> 26</td>
                        <td class=".row .column.column-10"> 27</td>
                        <td class=".row .column.column-10"> 28</td>
                        <td class=".row .column.column-10"> 29</td>
                        <td class=".row .column.column-10"> 30</td>
                        <td class=".row .column.column-10"> 31</td>
                        <td class=".row .column.column-10"> </td>
                    </tr>
                    <tr class="row">
                        <td class=".row .column.column-75"><a class="button" href="">Calendario_Lunar</a></td>
                        <td class=".row .column.column-75"></td>
                        <td class=".row .column.column-75"></td>
                        <td class=".row .column.column-75"></td>
                        <td class=".row .column.column-75"></td>
                        <td class=".row .column.column-75"></td>
                    
                    </tr>

                </tr>
            </table>
                         
        </article>
        <article class="tablas_grillas">
                <table>
                    <tr>
                        <th>Julio</th>
                    </tr>
                    <tr>
                        <tr class="row">
                            <th class=".row .column.column-10"> L</th>
                            <th class=".row .column.column-10"> M</th>
                            <th class=".row .column.column-10"> M</th>
                            <th class=".row .column.column-10"> J</th>
                            <th class=".row .column.column-10"> V</th>
                            <th class=".row .column.column-10"> S</th>
                            <th class=".row .column.column-10"> D</th>
                        </tr>
                        <tr class="row">
                            <td class=".row .column.column-10"> </td>
                            <td class=".row .column.column-10"> </td>
                            <td class=".row .column.column-10"> </td>
                            <td class=".row .column.column-10"> </td>
                            <td class=".row .column.column-10"> </td>
                            <td class=".row .column.column-10">1 </td>
                            <td class=".row .column.column-10">2</td>
                        </tr>
                        <tr class="row">
                            <td class=".row .column.column-10"> 3</td>
                            <td class=".row .column.column-10"> 4</td>
                            <td class=".row .column.column-10"> 5</td>
                            <td class=".row .column.column-10"> 6</td>
                            <td class=".row .column.column-10"> 7</td>
                            <td class=".row .column.column-10"> 8</td>
                            <td class=".row .column.column-10"> <a class="a_Feriado_inamovible"href="">9</a></td>
                        </tr>
                        <tr class="row">
                            <td class=".row .column.column-10"> 10</td>
                            <td class=".row .column.column-10"> 11</td>
                            <td class=".row .column.column-10"> 12</td>
                            <td class=".row .column.column-10"> 13</td>
                            <td class=".row .column.column-10"> 14</td>
                            <td class=".row .column.column-10"> 15</td>
                            <td class=".row .column.column-10"> 16</td>
                        </tr>
                        <tr class="row">
                        
                            <td class=".row .column.column-10"> 17</td>
                            <td class=".row .column.column-10"> 18</td>
                            <td class=".row .column.column-10"> 19</td>
                            <td class=".row .column.column-10"> 20</td>
                            <td class=".row .column.column-10"> 21</td>
                            <td class=".row .column.column-10"> 22</td>
                            <td class=".row .column.column-10"> 23</td>
                        </tr>
                        <tr class="row">
                            <td class=".row .column.column-10"> 24</td>
                            <td class=".row .column.column-10"> 25</td>
                            <td class=".row .column.column-10"> 26</td>
                            <td class=".row .column.column-10"> 27</td>
                            <td class=".row .column.column-10"> 28</td>
                            <td class=".row .column.column-10"> 29</td>
                            <td class=".row .column.column-10"> 30</td>
                        </tr>
                        <tr class="row">
                            <td class=".row .column.column-10"> 31</td>
                            <td class=".row .column.column-10"> </td>
                            <td class=".row .column.column-10"> </td>
                            <td class=".row .column.column-10"> </td>
                            <td class=".row .column.column-10"> </td>
                            <td class=".row .column.column-10"> </td>
                            <td class=".row .column.column-10"> </td>
                        </tr>
                        <tr class="row">
                            <td class=".row .column.column-75"><a class="button" href="">Calendario_Lunar</a></td>
                            <td class=".row .column.column-75"></td>
                            <td class=".row .column.column-75"></td>
                            <td class=".row .column.column-75"></td>
                            <td class=".row .column.column-75"></td>
                            <td class=".row .column.column-75"></td>
                        
                        </tr>
                    
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>Agosto</th>
                    </tr>
                    <tr>
                        <tr class="row">
                            <th class=".row .column.column-10"> L</th>
                            <th class=".row .column.column-10"> M</th>
                            <th class=".row .column.column-10"> M</th>
                            <th class=".row .column.column-10"> J</th>
                            <th class=".row .column.column-10"> V</th>
                            <th class=".row .column.column-10"> S</th>
                            <th class=".row .column.column-10"> D</th>
                        </tr>
                        <tr class="row">
                            <td class=".row .column.column-10"> </td>
                            <td class=".row .column.column-10">1</td>
                            <td class=".row .column.column-10">2</td>
                            <td class=".row .column.column-10">3</td>
                            <td class=".row .column.column-10">4</td>
                            <td class=".row .column.column-10">5</td>
                            <td class=".row .column.column-10">6</td>
                        </tr>
                        <tr class="row">
                            <td class=".row .column.column-10"> 7</td>
                            <td class=".row .column.column-10"> 8</td>
                            <td class=".row .column.column-10"> 9</td>
                            <td class=".row .column.column-10"> 10</td>
                            <td class=".row .column.column-10"> 11</td>
                            <td class=".row .column.column-10"> 12</td>
                            <td class=".row .column.column-10"> 13</td>
                        </tr>
                        <tr class="row">
                    
                            <td class=".row .column.column-10"> 14</td>
                            <td class=".row .column.column-10"> 15</td>
                            <td class=".row .column.column-10"> 16</td>
                            <td class=".row .column.column-10"> 17</td>
                            <td class=".row .column.column-10"> 18</td>
                            <td class=".row .column.column-10"> 19</td>
                            <td class=".row .column.column-10"> 20</td>
                        </tr>
                        <tr class="row">
                    
                    
                            <td class=".row .column.column-10"> <a class="a_Feriado_trasladable" href="">21</a></td>
                            <td class=".row .column.column-10"> 22</td>
                            <td class=".row .column.column-10"> 23</td>
                            <td class=".row .column.column-10"> 24</td>
                            <td class=".row .column.column-10"> 25</td>
                            <td class=".row .column.column-10"> 26</td>
                            <td class=".row .column.column-10"> 27</td>
                        </tr>
                        <tr class="row">
                    
                            <td class=".row .column.column-10"> 28</td>
                            <td class=".row .column.column-10"> 29</td>
                            <td class=".row .column.column-10"> 30</td>
                            <td class=".row .column.column-10"> 31</td>
                            <td class=".row .column.column-10"> </td>
                            <td class=".row .column.column-10"> </td>
                            <td class=".row .column.column-10"> </td>
                        </tr>
                        <tr class="row">
                        
                            <td class=".row .column.column-75"></td>
                        </tr>
                        <tr class="row">
                        
                            <td class=".row .column.column-75"></td>
                        </tr>
                        
                        <tr class="row">
                            <td class=".row .column.column-75"><a class="button" href="">Calendario_Lunar</a></td>
                            <td class=".row .column.column-75"></td>
                            <td class=".row .column.column-75"></td>
                            <td class=".row .column.column-75"></td>
                            <td class=".row .column.column-75"></td>
                            <td class=".row .column.column-75"></td>
                        
                        </tr>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>Septiembre</th>
                    </tr>
                    <tr>
                        <tr class="row">
                            <th class=".row .column.column-10"> L</th>
                            <th class=".row .column.column-10"> M</th>
                            <th class=".row .column.column-10"> M</th>
                            <th class=".row .column.column-10"> J</th>
                            <th class=".row .column.column-10"> V</th>
                            <th class=".row .column.column-10"> S</th>
                            <th class=".row .column.column-10"> D</th>
                        </tr>
                        <tr class="row">
                            <td class=".row .column.column-10"> </td>
                            <td class=".row .column.column-10"> </td>
                            <td class=".row .column.column-10"> </td>
                            <td class=".row .column.column-10"> </td>
                            <td class=".row .column.column-10">1</td>
                            <td class=".row .column.column-10">2</td>
                            <td class=".row .column.column-10">3</td>
                        </tr>
                        <tr class="row">
                            <td class=".row .column.column-10"> 4</td>
                            <td class=".row .column.column-10"> 5</td>
                            <td class=".row .column.column-10"> 6</td>
                            <td class=".row .column.column-10"> 7</td>
                            <td class=".row .column.column-10"> 8</td>
                            <td class=".row .column.column-10"> 9</td>
                            <td class=".row .column.column-10"> 10</td>
                        </tr>
                        <tr class="row">
                            <td class=".row .column.column-10"> 12</td>
                            <td class=".row .column.column-10"> 12</td>
                            <td class=".row .column.column-10"> 13</td>
                            <td class=".row .column.column-10"> 14</td>
                            <td class=".row .column.column-10"> 15</td>
                            <td class=".row .column.column-10"> 16</td>
                            <td class=".row .column.column-10"> 17</td>
                        </tr>
                        <tr class="row">                                                      
                            <td class=".row .column.column-10"> 18</td>
                            <td class=".row .column.column-10"> 19</td>
                            <td class=".row .column.column-10"> 20</td>
                            <td class=".row .column.column-10"> 21</td>
                            <td class=".row .column.column-10"> 22</td>
                            <td class=".row .column.column-10"> 23</td>
                            <td class=".row .column.column-10"> 24</td>
                        </tr>
                        <tr class="row">                                       
                            <td class=".row .column.column-10"> 25</td>
                            <td class=".row .column.column-10"> 26</td>
                            <td class=".row .column.column-10"> 27</td>
                            <td class=".row .column.column-10"> 28</td>
                            <td class=".row .column.column-10"> 29</td>
                            <td class=".row .column.column-10"> 30</td>
                            <td class=".row .column.column-10"> </td>
                        </tr>
                        <tr class="row">
                        
                            <td class=".row .column.column-75"></td>
                        </tr>
                        <tr class="row">
                        
                            <td class=".row .column.column-75"></td>
                        </tr>
                        
                        <tr class="row">
                            <td class=".row .column.column-75"><a class="button" href="">Calendario_Lunar</a></td>
                            <td class=".row .column.column-75"></td>
                            <td class=".row .column.column-75"></td>
                            <td class=".row .column.column-75"></td>
                            <td class=".row .column.column-75"></td>
                            <td class=".row .column.column-75"></td>
                        
                        </tr>
                    </tr>
                </table>

        </article>
        <article class="tablas_grillas">
            <table>
                <tr>
                    <th>Octubre</th>
                </tr>
                <tr>
                        <tr class="row">
                            <th class=".row .column.column-10"> L</th>
                            <th class=".row .column.column-10"> M</th>
                            <th class=".row .column.column-10"> M</th>
                            <th class=".row .column.column-10"> J</th>
                            <th class=".row .column.column-10"> V</th>
                            <th class=".row .column.column-10"> S</th>
                            <th class=".row .column.column-10"> D</th>
                        </tr>
                        <tr class="row">
                            <td class=".row .column.column-10"> </td>
                            <td class=".row .column.column-10"> </td>
                            <td class=".row .column.column-10"> </td>
                            <td class=".row .column.column-10"> </td>
                            <td class=".row .column.column-10"> </td>
                            <td class=".row .column.column-10"> </td>
                            <td class=".row .column.column-10">1</td>
                        </tr>
                        <tr class="row">
                            <td class=".row .column.column-10"> 2</td>
                            <td class=".row .column.column-10"> 3</td>
                            <td class=".row .column.column-10"> 4</td>
                            <td class=".row .column.column-10"> 5</td>
                            <td class=".row .column.column-10"> 6</td>
                            <td class=".row .column.column-10"> 7</td>
                            <td class=".row .column.column-10"> 8</td>
                        </tr>
                        <tr class="row">
                    
                            <td class=".row .column.column-10"> 9</td>
                            <td class=".row .column.column-10"> 10</td>
                            <td class=".row .column.column-10"> 11</td>
                            <td class=".row .column.column-10"> 12</td>
                            <td class=".row .column.column-10"> <a class="a_feriado_puente"href="">13</a></td>
                            <td class=".row .column.column-10"> 14</td>
                            <td class=".row .column.column-10"> 15</td>
                        </tr>
                        <tr class="row">
                    
                    
                            <td class=".row .column.column-10"> <a class="a_Feriado_trasladable" href="">16</a></td>
                            <td class=".row .column.column-10"> 17</td>
                            <td class=".row .column.column-10"> 18</td>
                            <td class=".row .column.column-10"> 19</td>
                            <td class=".row .column.column-10"> 20</td>
                            <td class=".row .column.column-10"> 21</td>
                            <td class=".row .column.column-10"> 22</td>
                        </tr>
                        <tr class="row">
                    
                            <td class=".row .column.column-10"> 23</td>
                            <td class=".row .column.column-10"> 24</td>
                            <td class=".row .column.column-10"> 25</td>
                            <td class=".row .column.column-10"> 26</td>
                            <td class=".row .column.column-10"> 27</td>
                            <td class=".row .column.column-10"> 28</td>
                            <td class=".row .column.column-10"> 29</td>
                        </tr>
                        <tr class="row">
                    
                            <td class=".row .column.column-10"> 30</td>
                            <td class=".row .column.column-10"> 31</td>
                            <td class=".row .column.column-10"></td>
                            <td class=".row .column.column-10"></td>
                            <td class=".row .column.column-10"></td>
                            <td class=".row .column.column-10"></td>
                            <td class=".row .column.column-10"></td>
                    
                        </tr>
                        <tr class="row">
                            <td class=".row .column.column-75"><a class="button" href="">Calendario_Lunar</a></td>
                            <td class=".row .column.column-75"></td>
                            <td class=".row .column.column-75"></td>
                            <td class=".row .column.column-75"></td>
                            <td class=".row .column.column-75"></td>
                            <td class=".row .column.column-75"></td>
                        
                        </tr>
                    </tr>
            </table>
            <table>
                <tr>
                    <th>Noviembre</th>
                </tr>
                <tr>
                    <tr class="row">
                        <th class=".row .column.column-10"> L</th>
                        <th class=".row .column.column-10"> M</th>
                        <th class=".row .column.column-10"> M</th>
                        <th class=".row .column.column-10"> J</th>
                        <th class=".row .column.column-10"> V</th>
                        <th class=".row .column.column-10"> S</th>
                        <th class=".row .column.column-10"> D</th>
                    </tr>
                    <tr class="row">
                        <td class=".row .column.column-10"> </td>
                        <td class=".row .column.column-10"> </td>
                        <td class=".row .column.column-10">1</td>
                        <td class=".row .column.column-10">2</td>
                        <td class=".row .column.column-10">3</td>
                        <td class=".row .column.column-10">4</td>
                        <td class=".row .column.column-10">5</td>
                    </tr>
                    <tr class="row">
                        <td class=".row .column.column-10"> 6</td>
                        <td class=".row .column.column-10"> 7</td>
                        <td class=".row .column.column-10"> 8</td>
                        <td class=".row .column.column-10"> 9</td>
                        <td class=".row .column.column-10"> 10</td>
                        <td class=".row .column.column-10"> 11</td>
                        <td class=".row .column.column-10"> 12</td>
                    </tr>
                    <tr class="row">
                    
                        <td class=".row .column.column-10"> 13</td>
                        <td class=".row .column.column-10"> 14</td>
                        <td class=".row .column.column-10"> 15</td>
                        <td class=".row .column.column-10"> 16</td>
                        <td class=".row .column.column-10"> 17</td>
                        <td class=".row .column.column-10"> 18</td>
                        <td class=".row .column.column-10"> 19</td>
                    </tr>
                    <tr class="row">
                    
                        <td class=".row .column.column-10"> <a class="a_Feriado_trasladable"href="">20</a></td>
                        <td class=".row .column.column-10"> 21</td>
                        <td class=".row .column.column-10"> 22</td>
                        <td class=".row .column.column-10"> 23</td>
                        <td class=".row .column.column-10"> 24</td>
                        <td class=".row .column.column-10"> 25</td>
                        <td class=".row .column.column-10"> 26</td>
                    </tr>
                    <tr class="row">
                    
                        <td class=".row .column.column-10">27</td>
                        <td class=".row .column.column-10">28</td>
                        <td class=".row .column.column-10">29</td>
                        <td class=".row .column.column-10">30</td>
                        <td class=".row .column.column-10"></td>
                        <td class=".row .column.column-10"> </td>
                        <td class=".row .column.column-10"> </td>
                    </tr> 
                    <tr class="row">
                    
                        <td class=".row .column.column-75"></td>
                    </tr>
                    <tr class="row">
                    
                        <td class=".row .column.column-75"></td>
                    </tr>
                    
                    <tr class="row">
                        <td class=".row .column.column-75"><a class="button" href="">Calendario_Lunar</a></td>
                        <td class=".row .column.column-75"></td>
                        <td class=".row .column.column-75"></td>
                        <td class=".row .column.column-75"></td>
                        <td class=".row .column.column-75"></td>
                        <td class=".row .column.column-75"></td>
                    
                    </tr>
                
                </tr>
            </table>
            <table>
                <tr>
                    <th>Diciembre</th>
                </tr>
            <tr>
                <tr class="row">
                    <th class=".row .column.column-10"> L</th>
                    <th class=".row .column.column-10"> M</th>
                    <th class=".row .column.column-10"> M</th>
                    <th class=".row .column.column-10"> J</th>
                    <th class=".row .column.column-10"> V</th>
                    <th class=".row .column.column-10"> S</th>
                    <th class=".row .column.column-10"> D</th>
                </tr>
                <tr class="row">
                    <td class=".row .column.column-10"> </td>
                    <td class=".row .column.column-10"> </td>
                    <td class=".row .column.column-10"> </td>
                    <td class=".row .column.column-10"> </td>
                    <td class=".row .column.column-10">1</td>
                    <td class=".row .column.column-10">2</td>
                    <td class=".row .column.column-10">3</td>
                </tr>
                <tr class="row">
                    <td class=".row .column.column-10"> 4</td>
                    <td class=".row .column.column-10"> 5</td>
                    <td class=".row .column.column-10"> 6</td>
                    <td class=".row .column.column-10"> 7</td>
                    <td class=".row .column.column-10"> <a class="a_Feriado_inamovible"href="">8</a></td>
                    <td class=".row .column.column-10"> 9</td>
                    <td class=".row .column.column-10"> 10</td>
                </tr>
                <tr class="row">
                    <td class=".row .column.column-10"> 12</td>
                    <td class=".row .column.column-10"> 12</td>
                    <td class=".row .column.column-10"> 13</td>
                    <td class=".row .column.column-10"> 14</td>
                    <td class=".row .column.column-10"> 15</td>
                    <td class=".row .column.column-10"> 16</td>
                    <td class=".row .column.column-10"> 17</td>
                </tr>
                <tr class="row">
                    <td class=".row .column.column-10"> 18</td>
                    <td class=".row .column.column-10"> 19</td>
                    <td class=".row .column.column-10"> 20</td>
                    <td class=".row .column.column-10"> 21</td>
                    <td class=".row .column.column-10"> 22</td>
                    <td class=".row .column.column-10"> 23</td>
                    <td class=".row .column.column-10"> 24</td>
                </tr>
                <tr class="row">
                    <td class=".row .column.column-10"> <a class="a_Feriado_inamovible"href="">25</a></td>
                    <td class=".row .column.column-10"> 26</td>
                    <td class=".row .column.column-10"> 27</td>
                    <td class=".row .column.column-10"> 28</td>
                    <td class=".row .column.column-10"> 29</td>
                    <td class=".row .column.column-10"> 30</td>
                    <td class=".row .column.column-10"> 31</td>
                </tr>
                <tr class="row">
                
                    <td class=".row .column.column-75"></td>
                </tr>
                <tr class="row">
                
                    <td class=".row .column.column-75"></td>
                </tr>
                
                <tr class="row">
                    <td class=".row .column.column-75"><a class="button" href="">Calendario_Lunar</a></td>
                    <td class=".row .column.column-75"></td>
                    <td class=".row .column.column-75"></td>
                    <td class=".row .column.column-75"></td>
                    <td class=".row .column.column-75"></td>
                    <td class=".row .column.column-75"></td>
                
                </tr>
            </tr>
            </table>
        
        <article class="row" >
            <div class="button">
                <a class="button" href="http://127.0.0.1:5000">calendario</a>              
            </div>
            <div class="button">
                <a class="button" href="contacto.html">contacto</a>                
            </div>
            <div class="button">
                <a class="button" href="lista_feriados.html">feriados</a>                
            </div>
            
        </article>
</article>
    </section>

    
</body>
</html>
