<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reto_4</title>

    <link rel="stylesheet" href="../static/css/milligram.css">
    <link rel="stylesheet" href="../static/css/milligram.min.css">
   <body class="button-clear">
    <section class="container">
        <article class="row">
            <h1>Calendario 2023</h1>
        </article>

        <article class="row">
            <div class="button">
                <a class="button" href="index.html">calendario</a>
            </div>
            <div class="button">
                <a class="button" href="contacto.html">contacto</a>
            </div>
            <div class="button">
                <a class="button" href="lista_feriados.html">feriados</a>
            </div>
        </article>
</section>
</body>

<body>
  <h2>Feriados Innamovibles</h2>
  <table>
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Día</th>
        <th>Motivo</th>
      </tr>
    </thead>
    <tbody> 
      <tr>
      <td>1 De Enero</td>
      <td>Domingo</td>
      <td>Año nuevo</td>
    </tr>
    <tr>
      <td>20 De Febrero</td>
      <td>Lunes</td>
      <td>Carnaval</td>
    </tr>
    <tr>
      <td>21 De Febrero</td>
      <td>Martes</td>
      <td>Carnaval</td>
    </tr>
    <tr>
      <td>24 De Marzo</td>
      <td>Viernes</td>
      <td>Día Nacional de la Memoria por la Verdad y la Justicia</td>
    </tr>
    <tr>
      <td>2 De Abril</td>
      <td>Domingo</td>
      <td>Día del Veterano y de los Caídos en la Guerra de Malvinas</td>
    </tr>
    <tr>
      <td>7 De Abril</td>
      <td>Viernes</td>
      <td>Viernes Santo</td>
    </tr>
    <tr>
      <td>1 De Mayo</td>
      <td>Lunes</td>
      <td>Día del Trabajador</td>
    </tr>
    <tr>
      <td>25 De Mayo</td>
      <td>Jueves</td>
      <td>Día de la Revolución de Mayo</td>
    </tr>
    <tr>
      <td>20 De Junio</td>
      <td>Martes</td>
      <td>Paso a la Inmortalidad del General Manuel Belgrano</td>
    </tr>
    <tr>
      <td>9 De Julio</td>
      <td>Domingo</td>
      <td>Día de la Independencia</td>
    </tr>
    <tr>
      <td>8 De Diciembre</td>
      <td>Viernes</td>
      <td>Día de la Inmaculada Concepción de María</td>
    </tr>
    <tr>
      <td>25 De Diciembre</td>
      <td>Lunes</td>
      <td>Navidad</td>
    </tr>
    </tbody>
  </table>
</body>
<body>
  <h2>Feriados Transferibles</h2>
  <table>
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Día</th>
        <th>Motivo</th>
      </tr>
      <tr>
        <td>17 De Junio</td>
        <td>Sabado</td>
        <td>Paso a la Inmortalidad del Gral. Don Martín Miguel de Güemes</td>
      </tr>
      <tr>
          <td>21 De Agosto</td>
          <td>Lunes</td>
          <td>Paso a la Inmortalidad del Gral. Josè de Martín</td>
      </tr>
      <tr>
          <td>16 De Octubre</td>
          <td>Lunes</td>
          <td>Día del Respeto a la Diversidad Cultural </td>
      </tr>
      <tr>
          <td>20 De Noviembre</td>
          <td>Lunes</td>
          <td>Día de la Soberanía Nacional</td>
      </tr>
    </thead>
  </table>
</body>
<body>
  <h2>Feriados Puentes</h2>
  <table>
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Día</th>
        <th>Motivo</th>
      </tr>
      <tr>
        <td>26 de mayo</td>
        <td>Viernes</td>
        <td>Feriado con fines turisticos  ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ </td>  <!--Con este caracter invisible es la unica forma que encontre para intentar centrar las columnas-->
      </tr>
      <tr>
          <td>19 de junio</td>
          <td>Lunes</td>
          <td>Feriado con fines turisticos</td>
      </tr>
      <tr>
          <td>13 De Octubreㅤ</td>
          <td>Viernes</td>
          <td>Feriado con fines turisticos</td>
      </tr>
    </thead>
  </table>
</body>
</head>
</html>

